# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
**/venv/
**/__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
*.env

# Django
db.sqlite3
media/
staticfiles/

# Frontend junk
frontend/node_modules/
frontend/.DS_Store
frontend/*.log
frontend/bun.lockb

# General
**/node_modules/
*.log
.DS_Store
*.local

